<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <img src="{{ asset('assets/img/logo.svg') }}" alt=""/>
        </a>

        <div class="header__box">
            <div class="search"></div>

            <div class="locations"></div>

            <div class="navigation"></div>
        </div>
    </div>
</header>