<div class="custom-cursor cursor-default">
    <svg class="icon custom-cursor__arrow" width="40" height="40">
        <use xlink:href="#arrow-cursor" />
    </svg>
</div>

<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <img src="{{ asset('assets/img/logo.svg') }}" alt=""/>
        </a>

        <div class="header__box">
            <div class="search">
                {% include('components/search.html.twig') %}
            </div>

            {% if currentRouteName != 'app.page.show' and currentRouteName != 'app.news.list' and currentRouteName != 'app.news.show' %}
                <div class="locations">
                    {{ include('components/cities.html.twig') }}
                </div>
            {% endif %}

            <div class="navigation">
                {{ include('blocks/main_menu.html.twig') }}
            </div>
        </div>
    </div>
</header>